body {
  background-color: antiquewhite;
  color: rgba(0, 0, 0, 0.7);
}
.top {
  display: flex;
  justify-content: center;
}
.header img {
  border: 2px antiquewhite solid;
  border-radius: 50%;
}
.name {
  padding-top: 5px;
}
.message {
  margin: 2% 0% 7% 0%;
}
.message p {
  padding: 0%;
  margin: 0%;
}
.p1 {
  font-size: 30px;
  text-align: center;
}
.p2 {
  text-align: center;
}
.card {
  position: relative;
  color: gray;

  height: 350px;
  width: 400px;
  background-color: white;
  border: 2px solid rgb(180, 144, 53);
  border-radius: 15px;
  box-shadow: 0px 3px 0px rgb(206, 192, 192);
}
.img2 {
  position: absolute;
  bottom: 76%;
  left: 38%;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid rgb(180, 144, 53);
  background-color: rgb(255, 254, 247);
}
.img3 {
  padding-top: 100px;
  padding-left: 25px;
}
.card p {
  padding-left: 30px;
}
.cardFooter img {
  padding: 5px;
  border: 1px solid rgb(126, 108, 108);
  border-radius: 50%;
}
.cardFooter {
  position: absolute;
  bottom: 2%;
  left: 55%;
}
